/***************************************************
GENERAL
****************************************************/

body {
  text-align: center;
  background-image: url('../img/seamless_paper_texture.png');

}

a {
  text-decoration: none;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}


footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
}

p {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  margin: 5px 40px;

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:#bba084;
    }





/******************************************************
HEADING
******************************************************/


#banner {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  text-align: center;
  background: url('../img/w-mtn.jpg') no-repeat;
  background-size: 100% 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner h1 {
  color: #ede4d5;
  font-size: 60px;
  text-shadow: 1px 1px 1px black;
}





/*************************************************************
NAVIGATION
*************************************************************/

#navbar {
  font-family: 'Dancing Script', cursive;
  border-color: #372601;
  border-width: medium;
}

#navbar li {
  font-size: 20px;
  padding: 10px
}

#navbar a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  color: #372601;

}


/********************************************************************
PHOTOS.html
*********************************************************************/

.gallery img {
  margin: 15px;
}




/************************************************************************
CALENDAR.html
************************************************************************/
.calendar {
  font-family: 'Kaushan Script', cursive;
}
.calendar h1 {
  font-size: 40px;
}


/***********************************************************************
CONTACT.html
***********************************************************************/

.contact img {
  float: left;
  border-radius: 100%;
  border-color: black;
  border-style: solid;
  border-width: thick;
  margin-right: 0;
}

.contact h2 {
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 20px 0 25px 20px;
  font-family: 'Kaushan Script', cursive;
}
